<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package Name="NetImage" Manufacturer="svpet" Version="1.5.0.0" UpgradeCode="8ca8db73-c40d-4bd9-93e8-8b9a957dace7" Scope="perMachine">
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    
    <MediaTemplate EmbedCab="yes" />

    <ui:WixUI Id="WixUI_InstallDir" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

    <Feature Id="Main">
      <ComponentGroupRef Id="MainComponents" />
    </Feature>
  </Package>

  <Fragment>
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="!(bind.Property.ProductName)" />
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="!(bind.Property.ProductName)"/>
    </StandardDirectory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="MainComponents" Directory="INSTALLFOLDER">
      <Component>
        <!-- Since we run dotnet publish into publish_dir, we package the exe from there -->
        <File Id="NetImageExe" Source="..\publish_dir\NetImage.exe" KeyPath="yes" />
        
        <Shortcut Id="ApplicationShortcut"
                  Directory="ApplicationProgramsFolder"
                  Name="!(bind.Property.ProductName)"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon="icon.ico"
                  IconIndex="0"
                  Advertise="yes" />
        <RemoveFolder Id="CleanupShortcut" Directory="ApplicationProgramsFolder" On="uninstall"/>
      </Component>
    </ComponentGroup>

    <!-- Expose the icon for the shortcut -->
    <Icon Id="icon.ico" SourceFile="..\diskette.ico"/>
  </Fragment>
</Wix>
